.searchComponent {
  display: flex;
}

.thumbnailContainer {
  padding-top: 20px;
}

.thumbnailImage {
  width: 100px;
  height: 100px;
  padding-left: 25px;
}

.searchInput {
  width: 80%;
}

.searchInput h1 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .searchComponent {
    flex-direction: column;
  }

  .thumbnailContainer {
    align-self: center;
  }

  .thumbnailImage {
    width: 180px;
    height: 180px;
  }

  .searchInput {
    align-self: center;
    width: 90%;
  }
}
