.searchComponent {
  display: flex;
}

.thumbnailContainer {
  padding-top: 20px;
  margin-right: 12px;
}

.searchInput {
  width: 80%;
}

.searchInput h1 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .searchComponent {
    flex-direction: column;
  }

  .thumbnailContainer {
    align-self: center;
    margin-bottom: 12px;
  }

  .searchInput {
    align-self: center;
    width: 90%;
  }
}
